<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script>window.userToken = "<%= assigns[:user_token] %>";</script>

  <title>Hello PrestoChange!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>

  <header id="header">
    <nav id="nav" class="uk-navbar-container" uk-navbar uk-flex .uk-flex-middle>
      <section id="nav_left">
        <h1 id="logo">
          <a href="/">
            <span uk-icon="icon: nut; ratio: 4"></span>
            <span>PrestoChange.io</span>
          </a>
        </h1>
      </section>

      <section id="nav_center">
      </section>

      <section id="nav_right">
      </section>
    </nav>
  </header>

  <%
    info = get_flash(@conn, :info)
    error = get_flash(@conn, :error)
  %>

  <%= if info do %>
  <section class="info" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <%= info %>
  </section>
  <% end %>

  <%= if error do %>
  <section class="error" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <%= error %>
  </section>
  <% end %>

  <main uk-height-viewport="expand: true">
    <%= render @view_module, @view_template, assigns %>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/ace-builds@1.2.8/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
